@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px #B1F6E3; */
}


body {
    background-color: #222831;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

header.nav {
    width: 100%;
    height: 200px;
}

.nav-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav {
    position: relative;
    height: 15em;
    font-family: 'Lemon';
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 50%;
}

.nav ul {
    position: relative;
    color: gray;
    padding-top: 1.5em;
    font-size: 1em;
    top: 1.5em;
}

.nav ul li:hover {
    -moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
}

.logo {
    position: inherit;
    margin: 0 auto;
    top: .2em;
    font-family: 'Lemon';
    color: #000;
    font-size: 5em;
    cursor: pointer;
    max-width: 185px;
}


.list {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
    max-width: 100%px;
    
}

.list:hover {
    cursor: pointer;
}

span {
    /* color: #B1F6E3; */
}

li {
    text-align: center;
}

.tumb {
    color: aliceblue;
    margin-bottom: 2.5em;
}
.shop-item {
    margin: 0 auto;
}

img {
   transition: .2s;
   z-index: 1;
}

img:hover {
    transform: scale(1.05);
    cursor: pointer; 
}

.hero {
    width: 75%;
    margin: 0 auto;
}

.grid {
    position: relative;
    justify-content: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 20em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20%;
    list-style: none;
    font-family: 'Lemon';
}

p {
    margin-top: 2em;
    color: #000;
}

.btn {
    margin-top: 2em;
    width: 7em;
    height: 3em;
    font-weight: 300;

}

.btn:hover {
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    height: 8em;
    padding: 2em;
}

/*//////////////////////// mobile breakpoint //////////////////////*/

@media only screen and (max-width: 1428px) {

        body {
            background-size: auto auto;
            background-position: 50% 25%;
        }


.grid {
    gap: 5%;
    column-gap: 20em;
}

footer {
    position: relative;
    bottom: -35em;
    height: 100px;
}

img {
    width: 300px;
    height: 300px;
}

img:hover {
    transform: none;
}

}