@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



/* ////////////////////// UNIVERSAL MODS ////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px #B1F6E3; */
}


body {
    background-color: #000;
    overflow-x: hidden;
    font-family: 'Roboto Condensed';
    color: #881EE4;
}

/* ////////////////////// NAVIGATION  ////////////////////// */


.nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 130px;
    font-family: 'Lemon';
    background-color: #000;
    border-bottom: solid .5px lightgray;
}


.srch {
    position: relative;
    left: 3em;
    bottom: .5em;
    width: 350px;
    
}

.srch input {
    padding: 6px;
    width: 250px;
    border: 1px solid lightgray;
    
}

.srch input:focus {
    outline: none;
}

.srch i {
    position: relative;
    top: 5px;
    font-size: 24px;
    transition: .3s;
    color: #85E21F;
    padding-right: 10px;
}

.srch i:hover {
    transform: scale(1.3);
    border-radius: 5px;
}

.srch-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.logo {
    position: inherit;
    margin: 0 auto;
    top: .2em;
    font-family: 'Lemon';
    color: #fff;
    font-size: 3em;
    cursor: pointer;
    max-width: 120px;
}


.list {
    position: relative;
    top: 1.5em;
    max-width: 350px;
    max-height: 25px;
    color: #881EE4;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
    list-style: none;
    letter-spacing: 3px;
    transition: all;
}

.list li:hover {
    transform: scale(1.1);
        cursor: pointer;
}

.cart {
    position: relative;
    float: right;
    right: 3em;
    bottom: 2.6em;
    }

.cart-btn {
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #85E21F;
}

.cart-btn:hover {
    cursor: pointer;
}

.cart span {
    font-size: 3em;
}



/* ////////////////////// PRODUCT-GRID ////////////////////// */

.hero {
    /* display: flex; */
    /* justify-content: center; */

}

.grid {
    margin-top: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 800px));
    row-gap: 3em;
    column-gap: .5em;
    grid-row: auto;
    list-style: none;
    place-items: center;
}



img {
    transition: .2s;
    border: solid 5px #fff;
    border-radius: 15px;
    width: clamp(300px, 391px, 400px);
    height: clamp(300px, 391px, 400px);

 }
 
 img:hover {
     transform: scale(1.05);
     cursor: pointer; 
 }

.grid-item-title {
    padding-top: 1em;
    font-size: clamp(2px, 24px, 32px);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
 
.item-price {
    text-align: center;
    font-size: clamp(2px, 24px, 32px);
    margin-bottom: 10px;
    font-weight: 100;
}


.btn-2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn {
    min-width: 7em;
    min-height: 3em;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s;
    font-family: 'Roboto Condensed';
    background-color:#fff;
}



.btn:hover {
    cursor: pointer;
    background-color: #881EE4;
    font-weight: 700;
    color: #fff;
}




/*//////////////////////// FOOTER  //////////////////////*/



footer {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
    min-height: 116px;
    max-width: 100%;
    border-top: 1px solid #fff;
}

.foot {
    position: relative;
    width: 250px;
    text-align: center;
    top: 2.7em;
    height: 25px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    }



/*//////////////////////// mobile breakpoint //////////////////////*/

@media only screen and (max-width: 1428px) {





img:hover {
    transform: none;
}

footer {
    position: relative;
    bottom: -50em;
    height: 116px;
}

footer p {
    position: relative;
    bottom: 1em;

}

@media only screen and (max-width: 1082px) {


.logo {
    top: .8em;
}

.list {
    display: none;
}

.srch {
    display: none;
}

.toggle {
    position: relative;
    float: right;
    bottom: 1em;
    margin-right: 2em;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}


}