@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* ////////////////////// UNIVERSAL MODS ////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px #B1F6E3; */
}


body {
    background-color: #eee;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Condensed';
    color: #881EE4;
}

/* ////////////////////// NAVIGATION  ////////////////////// */


.nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 116px;
    font-family: 'Lemon';
    background-color: #85E21F ;
}

.list {
    
}

.srch {
    position: relative;
    left: 3em;
    bottom: .5em;
}

.srch input {
    padding: 6px;
    width: 250px;
    border: 1px solid lightgray;
}

.srch input:focus {
    outline: none;
}

.srch i {
    position: relative;
    top: 5px;
    font-size: 24px;
    transition: .3s;
}

.srch i:hover {
    color: #d3d3d3;
    background-color: #881EE4;
    border-radius: 5px;
}

.srch-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.logo {
    position: inherit;
    margin: 0 auto;
    top: .2em;
    font-family: 'Lemon';
    color: #F75F1C;
    font-size: 2.5em;
    cursor: pointer;
    max-width: 120px;
}


.list {
    position: relative;
    font-size: .9em;
    top: 1.5em;
    max-width: 350px;
    max-height: 25px;
    color: #881EE4;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
    list-style: none;
    letter-spacing: 3px;
}

.list:hover {
    cursor: pointer;
}


li p {
    position: relative;
    text-align: center;
    margin-bottom: 2em;
}

.cart {
    position: relative;
    float: right;
    right: 3em;
    bottom: 2.3em;
}

.cart-btn {
    width: 200px;
    height: 28px;
}




/* ////////////////////// PRODUCT-GRID ////////////////////// */


.grid {
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20em;
    padding-top: 25px;
    padding-left: 4em;
    padding-right: 6em;
    list-style: none;
    max-height: 300em;
    max-width: 400em;
}

.shop-item {
    min-width: 20em;
}

img {
    transition: .2s;
    z-index: 1;
    border: solid 5px #881EE4;
    border-radius: 15px;
 }
 
 img:hover {
     transform: scale(1.05);
     cursor: pointer; 
 }

.grid-item-title {
    text-align: center;
    padding-top: 1em;
    font-size: clamp(2px, 24px, 32px);
}
 
.item-price {
    position: relative;
    bottom: 1.5em;
    text-align: center;
    font-size: clamp(2px, 24px, 32px);
}


.btn-2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn {
    min-width: 7em;
    min-height: 3em;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s;
    font-family: 'Roboto Condensed';
    background-color:#85E21F;
}



.btn:hover {
    cursor: pointer;
    background-color: #881EE4;
    font-weight: 700;
    color: #fff;
}




/*//////////////////////// FOOTER  //////////////////////*/



footer {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    min-height: 116px;
    max-width: 100%;
}

.foot {
    position: relative;
    width: 250px;
    text-align: center;
    top: 2.7em;
    height: 25px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    }



/*//////////////////////// mobile breakpoint //////////////////////*/

@media only screen and (max-width: 1428px) {

.grid {
    gap: 5%;
    /* column-gap: 20em; */
}

.shop-item {
    min-width: 25px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: 300px;
}

img:hover {
    transform: none;
}

footer {
    position: relative;
    bottom: -50em;
    height: 116px;
}

footer p {
    position: relative;
    bottom: 1em;

}

@media only screen and (max-width: 1082px) {


.logo {
    top: .8em;
}

.list {
    display: none;
}

.srch {
    display: none;
}

.toggle {
    position: relative;
    float: right;
    bottom: 1em;
    margin-right: 2em;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}


}