@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px #B1F6E3; */
}


body {
    background-color: #222831;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.nav-main {
    position: relative;
    bottom: 5em;
}

.nav {
    height: 15em;
    font-family: 'Lemon';
    background-color: #db0a5b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 50%;
}

.nav ul {
    color: aliceblue;
    padding-top: 1.5em;
    font-size: 1.5em;
}

.logo-container {
    position: relative;
    top: 2em;

}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Lemon';
    color: aliceblue;
    font-size: 5em;

}

.list {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

.list:hover {
    cursor: pointer;
}

span {
    /* color: #B1F6E3; */
}

li {
    text-align: center;
}

.tumb {
    color: aliceblue;
    margin-bottom: 2.5em;
}
.shop-item {
    margin: 0 auto;
}

img {
   transition: 1s;
   z-index: 1;
}

img:hover {
    transform: scale(1.15);
    cursor: pointer; 
}

.hero {
    width: 75%;
    margin: 0 auto;
}

.grid {
    position: relative;
    justify-content: center;
    width: 90%;
    margin-top: 5em;
    margin-bottom: 20em;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20%;
    list-style: none;
    font-family: 'Lemon';
}

p {
    margin-top: 2em;
    color: aliceblue;
}

.btn {
    margin-top: 2em;
    width: 7em;
    height: 3em;
    font-weight: 300;

}

.btn:hover {
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #db0a5b;
    height: 8em;
    padding: 2em;
}

/* mobile breakpoint */
@media only screen and (max-width: 1428px) {

        body {
            background-size: auto auto;
            background-position: 50% 25%;
        }

}

